
<div class="container">
    <h2 class="pt-4">Información de Curso </h2>
    <span> {{course.name}} </span>
    <section id ="how_it_works">
        <div class="row">
            <div class="col-4">
                <img src="https://info.flag.org/extensioncourse//home/courses/content/0/image_es_MX/27a.png" alt="">
            </div>
                <div class="col-6 m-4">
            <h4>{{course.name}}</h4>
            
            <label>By {{course.author}}</label>
            <button type="button" class="m-2  btn-lg  btn-outline-secondary btn-block ">Empezar Curso</button>
            
            
        </div>
        
        </div>
        <hr>    
        <div class="row">
        <label class="col-3 ">Categoría: {{course.name}}</label>
        <label class="col-3">Donación: $ 40</label>
        <label class="col-4">Duración del curso: {{course.name}}</label>
        
        
    </div>
       
    </section>
</div>