<div class="container">
    <section id="Carrousel">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="https://info.flag.org/extensioncourse//home/banner/00/image_es_MX/image_01_es_MX2.jpg" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="https://info.flag.org/extensioncourse//home/banner/01/image_es_MX/image4_es_MX.jpg" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="https://info.flag.org/extensioncourse//home/banner/0/image_es_MX/image_09_es_MX2.jpg" alt="Third slide">
              </div>
            </div>
          </div>
          <p id="phrase" class="pt-4 font-italic"> “ Los cursos por correspondencia existen para que cualquiera que esté interesado en aprender los fundamentos de Dianética y Cienciología pueda hacerlo en su propio hogar.” – L. Ronald Hubbard </p>
          
          <hr class="my-4">
          <div id="firstRow" class="row">
            <div class="col-3">
               <h4> Consejo de la Semana</h4>
               <p>“Estaba teniendo problemas con uno de los capítulos de mi libro, así que llamé a mi supervisor y me dijo que tomara un curso de estudio en línea…
               </p>
               <p> <a href="">Read more...</a> </p>
            </div>
            <div class="col-3 ">
            <img src="https://info.flag.org/extensioncourse//home/mainContent/00/rightColumnArea/01/image_es_MX/image1.jpg" alt="">
            <strong>Cómo funciona </strong>
            <em class="blockquote-footer">La experiencia del Curso de Extensión de Flag </em>
            Una descripción gráfica de la entrega del Curso de Extension de Flag
            </div>
            <div class="col-3">
                <img src="https://info.flag.org/extensioncourse//home/mainContent/00/rightColumnArea/0/image_es_MX/image2.jpg" alt="">
             
            <strong>Inscríbase en el Curso de Extensión</strong>
            <em class="blockquote-footer"> Y comience de una vez </em>
            Done para su siguiente curso y comience de una vez
            </div>
            <div class="col-3">
                <img src="https://info.flag.org/extensioncourse//home/mainContent/00/rightColumnArea/00/image_es_MX/invite_a_friend.jpg" alt="">
                <strong >Invite a un Amigo </strong>
                    <em class="blockquote-footer"> A tomar el Tour del Curso de Extensión de Flag </em>
                    Dígale a sus amigos, familiares y asociados sobre el Curso de Extensión de Flag
            </div>
        </div>
        <hr class="my-4">
        <div id="secondRow"class="row">
            <div class="col-3">
                <h4>Historia de Éxito</h4>
                <p>“ Estando en la industria de la música me toca trabajar cualquier cantidad de horas inusuales y también vivo lejos de mi Org más cercana, por lo tanto me encanta ser un estudiante ‘en línea’…</p>
                <p> <a href="">Read more...</a> </p>
             </div>
             <div class="col-3 ">
             <img src="https://info.flag.org/extensioncourse//home/mainContent/01/rightColumnArea/0/image_es_MX/faq.jpg" alt="">
             <strong>Preguntas Frecuentes </strong>
             <em class="blockquote-footer"> En los Cursos por Correspondencia </em>
             Averigua aquí la respuesta a tus preguntas.
             </div>
             <div class="col-3">
                 <img src="https://info.flag.org/extensioncourse//home/mainContent/01/rightColumnArea/00/image_es_MX/books-mini-204X125[1].jpg" alt="">
              
             <strong>Estudiantes del Cuadro de Honor</strong>
             <em class="blockquote-footer"> En el Curso de Extensión de Flag </em>
             Averigua quién está estudiando consecutivamente cada semana en el Curso de Extensión de Flag
             </div>
             <div class="col-3">
                 <img src="https://info.flag.org/extensioncourse//home/mainContent/01/rightColumnArea/01/image_es_MX/top_100_1[1].jpg" alt="">
                 <br>
                 <strong >La Lista de los Mejores 100 </strong>
                     <em class="blockquote-footer">En el Curso de Extensión de Flag </em>
                     Dígale a sus amigos, familiares y asociados sobre el Curso de Extensión de Flag
             </div>
        
        </div>

    </section>
  
    
    </div>
    
    
