
<div class="container">
    <section id="login">
        <div class="d-flex flex-row-reverse">
            <a [routerLink]="['/Sign-Up']">Regístrate </a>
            <a [routerLink]="['/Login']">Iniciar Sesión </a>
       
        </div>
     </section>

    <section id="nav-bar">
    <div class="d-flex align-items-center">
        <div class="mr-auto p-2"> <img src="https://www.scientologymexico-portales.org/theme/images/wis-cta/scn-symbol-full-circle.png" width="70px"></div>
        <div class="p-2 "> 

           <div id="principal-menu">
        <ul>
            <li><a [routerLink]="['/']">Inicio </a></li>
            <li><a [routerLink]="['/How_it_works']">Cómo funciona </a></li>
            <li><a [routerLink]="['/Courses']">Cursos </a></li>
            <li><a [routerLink]="['/Contact']">Contáctanos </a></li>
        
        </ul>
    </div>
      </div>
    
</div>



