<div class="container">
    <h2 class="pt-4">Cómo funciona </h2>
    <span> Una descripción gráfica del Curso de Extensión de Flag</span>
<section id ="how_it_works">
    <label>Abajo se encuentra una descripción gráfica de como funciona el Curso de Extensión de Flag</label>
    <!-- Paso 1 -->
    <div class="row">
        <div class="col-4 pt-4">
            <h4>Paso 1</h4>
                <p>Nosotros entregamos todos los cursos de libros y conferencias de Los Fundamentos, los Congresos y los ACCs en línea. Al hacer esto podemos ayudarle a pasar a través de los materiales de la Edad de Oro del Conocimiento más rápido y con todas las ganancias posibles sin importar donde viva.</p>
        </div>
                <img class="col-8 pt-4 " src="https://info.flag.org/extensioncourse//home/how_it_works/mainContent/01/image_es_MX/step1.jpg" alt="">
    </div>
    <hr>
    <!-- Paso 2 -->
    <div class="row">
        <div class="col-4 pt-4">
            <h4>Paso 2</h4>
                <p>Cuando esté listo para comenzar su Curso de Extensión, primero vaya a nuestra tienda en línea para registrarse en su curso. Presione el curso que desea tomar y luego el botón que dice “registrarse para comenzar este curso”.</p>
        </div>
                <img class="col-8 pt-4 " src="https://info.flag.org/extensioncourse//home/how_it_works/mainContent/02/image_es_MX/POWstore.jpg" alt="">
    </div>
    <hr>
    <!-- Paso 3 -->
    <div class="row">
        <div class="col-4 pt-4">
            <h4>Paso 3</h4>
                <p>Una vez que presione ese botón, se le va a llevar a nuestra página de registro donde usted va a poder crear su cuenta y podrá registrarse para el curso que desea.</p>
        </div>
                <img class="col-8 pt-4 " src="https://info.flag.org/extensioncourse//home/how_it_works/mainContent/0/image_es_MX/sign_in_ES.jpg" alt="">
    </div>
    <hr>
        <!-- Paso 4 -->
    <div class="row">
        <div class="col-4 pt-4">
            <h4>Paso 4</h4>
                <p>Una vez que haya sido registrado se le dará información adicional sobre su curso y una carta de bienvenida de su supervisor.</p>
        </div>
                <img class="col-8 pt-4 " src="https://info.flag.org/extensioncourse//home/how_it_works/mainContent/03/image_es_MX/step_4.png" alt="">
    </div>
    <hr>    
    <!-- Paso 5 -->
    <div class="row">
        <div class="col-4 pt-4">
            <h4>Paso 5</h4>
                <p>Luego va a llegar a su curso en línea donde podrá entregar sus asignaciones, revisar asignaciones anteriores, etc.
                </p>
        </div>
                <img class="col-8 pt-4 " src="https://info.flag.org/extensioncourse//home/how_it_works/mainContent/06/image_es_MX/sample_lesson.png" alt="">
    </div>
    <hr>
    <!-- Paso 6 -->
    <div class="row">
        <div class="col-4 pt-4">
            <h4>Paso 6</h4>
                <p>Si en algún momento necesita ayuda en su curso, puede contactar a su supervisor a través de nuestra página de ayuda o simplemente llamándonos. Tenemos supervisores y aclaradores de palabras completamente entrenados disponibles a su servicio en 15 idiomas.</p>
        </div>
                <img class="col-8 pt-4 " src="https://info.flag.org/extensioncourse//home/how_it_works/mainContent/07/image_es_MX/contact_sup.jpg" alt="">
    </div>
    <hr>
    <!-- Paso 7 -->
    <div class="row">
        <div class="col-4 pt-4">
            <h4>Paso 7</h4>
                <p>Una vez que haya completado todas sus asignaciones, cada una con calificación de 100%, usted va a recibir un certificado por la completación satisfactoria de su curso. Cualquier curso que usted tome con nosotros será acreditado a cualquier entrenamiento que vaya a hacer en el futuro.</p>
        </div>
                <img class="col-8 pt-4 " src="https://info.flag.org/extensioncourse//home/how_it_works/mainContent/011/image_es_MX/step7.jpg" alt="">
    </div>
    <hr>

    <a href="">Presione aquí para entrar a nuestra tienda en línea y comenzar su ruta al conocimiento.</a>



</section>
</div>
